{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container mb-5 mt-5">
    <div class="row">
     <div class="col-sm-6">
       <img src="{% static 'images/c6.avif' %}" class="img img-thumbnail" alt="">
     </div>
     <div class="col-sm-6">
         <p>
             A calorie is defined as the amount of heat energy needed to raise the temperature of 1 gram of water by 1°C.
 
 Calories are normally used to describe the amount of energy your body gets from what you eat and drink.
 
 Calories can also be used to describe the amount of energy your body needs to perform physical tasks including:
 
 breathing
 thinking
 maintaining your heartbeat
 The amount of energy that foods provide is normally recorded in thousands of calories, or kilocalories (kcal).
 
 For instance, one carrot generally provides you with 25,000 calories, or 25 kcal. On the other hand, running on the treadmill for 30 minutes generally requires you to use 300,000 calories, or 300 kcal.
 
 However, because “kilocalories” is an awkward word to use, people often use the term “calories” instead.
         </p>
     </div>
     </div>
 </div>
{% endblock content %}