{% extends 'adminlayout.html' %}
{% load static %}
{% block content %}
<div class="container mb-5 mt-5">
    <div class="row">
     <div class="col-sm-6">
       <img src="{% static 'images/admin.png' %}" class="img img-thumbnail" alt="">
     </div>
     <div class="col-sm-6">
         <p>
            Administrators support the smooth running of offices by carrying out clerical tasks and projects. As an administrator in the construction industry, you could be organising project meetings. You’d be typing up documents, responding to business enquiries, drawing up contracts and providing customer service. You are likely to be processing lots of information using a computer, so you’ll need strong IT skills. Excellent communication skills are also important, to ensure the office operates efficiently. There is huge scope for career progression as an administrator, in a variety of settings.
         </p>
     </div>
     </div>
 </div>
{% endblock content %}